torch==1.6.0
grammaregex==0.1.3
spacy==2.3.2
goose3==3.1.6
nltk==3.4.5
git+git://github.com/UKPLab/sentence-transformers.git@abdfbf0dadba7f9745d9b29e019bc42b0c9db999
plotly==4.12.0
dash==1.18.1
app-store-scraper==0.3.5